$c-light: #fff;
$c-dark: #0a0808;
$c-lightgray: #9c9c9c;
$c-dark2: #333;
$c-gray: #8a8a8a;
$c-beige: #efefef;
$c-gray-border: #efefef;

$image-width: 483px;
$image-height: 536px;
$open-sans-font: "Work Sans", sans-serif;
